*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background: url(https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg);
}


.navbar a{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-toggler{
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: white;
}

.form-select{
  text-decoration: none;
  background: transparent;
  padding: 10px 5px;
  border: 3px solid white;
  color: var(--text-color);
  justify-content: space-between;
  border-radius: 5px;
  text-align: center;
  font-family: 'Anton', sans-serif;
}


.w-100-height{
   height: 90vh;
   width: 100%;
}

.carousel-item{
  min-height: 300px;
}

.carousel-caption{
  text-align: left;
  margin-bottom: 200px;
  z-index: 2;
}

.carousel-caption h1{
  font-size: 4rem;
  -webkit-text-stroke: 1px #050f15;
  font-weight: 400;
  line-height: 60px;
  font-family: 'Bebas Neue', sans-serif;
}
.carousel-caption h2{
  font-size: 5.2rem;
  font-family: 'Courgette', cursive;
  -webkit-text-stroke: 2px #050f15;
}

.carousel-caption p{
  font-size: 1.2rem;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-text-stroke: 1px #050f15;
}

.btn-go{
  background: rgb(128, 128, 128);
  border: 2px solid black;
  color: white;
  border-radius: 5px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: .3s ease-in;
  font-size: 16px;
}

.btn-go:hover{
  animation: blink 1.5s infinite;
  color: white;
  
}@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}


.carousel-inner::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}

.carousel-caption{
  border-radius: 5px;
}
.carousel-caption h4{
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-text-stroke: 2px #050f15;
  font-weight: 400;
}

.card-bottom{
  right: 0;
  margin-top: -178px;
  border-radius: 0;
}
.card-title{
  color: #fff;
}

.card-text{
  color: #fff;
}

.card-color{
  background: #050f15;
}

.icon{
  font-size: 40px;
  font-weight: 800;
  background: transparent;
  width: 80px;
  height: 80px;
  line-height: 1.8;
}

@media only screen and (max-width:767px){
  .navbar-nav{
    text-align: center;
  }
  .carousel-caption h1{
    font-size: 2rem;
    letter-spacing: 0;
    line-height: normal;
  }
  .carousel-caption h2{
    padding: 10px 15px;
    font-size: 3.2rem;
  }
  .carousel .card-bottom{
    display: none;
  }
  .form-select{
    display: flex;
  }
}


.carousel-caption h6{
  font-size: 7rem;
  -webkit-text-stroke: 2px #050f15;
  font-weight: 600;
  line-height: 60px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}

.carousel-caption .price{
  font-size: 1.2rem;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-text-stroke: 1px #050f15;
  text-align: center;
  background: transparent;
  backdrop-filter: blur(6px);
}

.col-md-4 .mb-4:hover{
  transform: translateY(5%);
} 

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease; 
  box-shadow: -1px -2px 20px 5px rgba(0, 0, 0, 0.68);
}


.btn-light:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease; 
  box-shadow: -1px -2px 20px 5px rgba(0, 0, 0, 0.68);
}
.image-fluid {
  width: 100%;
  height: auto;
}
